/* styles.css */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

form {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: 600;
  color: #3a7ca5;
  margin-bottom: -5px;
}

.subtitle {
  font-size: 15px;
  color: #7f8c8d;
  font-style: italic;
}

.input {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  border-radius: 30px;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
  color: #7f8c8d;
  border: 1px solid #ccc;
}

.button {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border-radius: 30px;
  background-color: #3a7ca5;
  color: #fff;
  margin: 20px auto;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

/* 
For the home page  */

.dashboard-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #3a7ca5;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.sidebar h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 10px 7px;
  width: 100%;
  gap: 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.sidebar a:hover {
  background-color: #2b5876;
}

.sidebar i {
  font-size: 18px;
}

.sidebar li {
  font-size: 16px;
  font-weight: 500;
}

.dashboard-main {
  width: 80%;
  padding: 20px;
  background-color: #f7f7f7;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.searchbar {
  padding: 10px 20px;
  width: 40%;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}
.user-profile {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 15px;
}
.welcome span {
  display: block;
}
.welcome .username {
  font-size: 18px;
  font-weight: 550;
}

.user-profile .profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #fff;
}
.notifications,
.quick-actions {
  background-color: #3a7ca5;
  color: #fff6f6;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.widget {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 45%;
}

.widget h4 {
  margin-bottom: 10px;
}

.add-space-btn {
  padding: 10px 20px;
  background-color: #3a7ca5;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.space-list {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* table css  */

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  overflow: auto;
}

caption {
  font-size: 24px;
  font-weight: 700;
  color: #3a7ca5;
  margin-bottom: 15px;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

th {
  background-color: #3a7ca5;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

td {
  background-color: #fff;
  font-size: 16px;
}

tr {
  transition: background-color 0.3s ease;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.add-btn {
  background-color: #4caf50;
  margin-bottom: 20px;
}

.delete-btn,
.edit-btn {
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #3a7ca5;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: 600;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.delete-btn {
  background-color: #f44336;
}
.edit-btn:hover {
  background-color: #2b5876;
  transform: scale(1.05);
}
.delete-btn:hover {
  background-color: #c73329;
  transform: scale(1.05);
}
.edit-btn:focus {
  outline: none;
}

/* report page  */
.generate-report-btn {
  padding: 10px 20px;
  background-color: #3a7ca5;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
}

.reports-list {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
